body,
input,
textarea {
  color: #373737;
  font: 300 15px/1.625 "Helvetica Neue", Helvetica,Arial, sans-serif;
}

/* headings */
h1,
h2 {
  color: #000000;
  font-weight: bold;
  margin: 0 0 0.8125em;
}

h3 {
  font-size: 10px;
  letter-spacing: 0.1em;
  line-height: 2.6em;
  text-transform: uppercase;
}

/* definitions */
dl {
  margin: 0 1.625em;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1.625em;
}

/* lists */
ul,
ol {
  margin: 0 0 1.625em 2.5em;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style: square outside none;
}

/* tables */
table {
  border-bottom: 1px solid #dddddd;
  margin: 0 0 1.625em;
  width: 100%;
}

/* pre */
pre {
  background: none repeat scroll 0 0 #f4f4f4;
  font: 13px/1.5 "Courier 10 Pitch",Courier,monospace;
  margin-bottom: 1.625em;
  overflow: auto;
  padding: 0.75em 1.625em;
}

/* blockquotes */
blockquote {
  font-family: Georgia,"Bitstream Charter",serif;
  font-style: italic;
  font-weight: normal;
  margin: 0 3em;
}

a {
  color: #1982d1;
  font-weight: bold;
  text-decoration: none;
}

#main img {
  padding: 6px;
}

#page {
  background: none repeat scroll 0 0 #ffffff;
  margin: 2em auto;
  max-width: 1000px;
}

#main {
  background: inherit;
  clear: both;
  padding: 1.625em 0 0;
}

body.sidebar-right #primary {
  float: left;
  margin: 0 -26.4% 0 0;
  width: 100%;
}

body.sidebar-right #secondary {
  background: inherit;
  float: right;
  margin-right: 7.6%;
  margin-top: 50px;
  width: 18.8%;
}

body.sidebar-left #primary {
  float: right;
  margin: 0 -26.4% 0 0;
  width: 100%;
}

body.sidebar-left #secondary {
  background: inherit;
  float: left;
  margin-left: 7.6%;
  margin-top: 50px;
  width: 18.8%;
}

#region-content-with-sidebar {
  margin: 0 34% 0 7.6%;
  width: 58.4%;
}

#region-content-without-sidebar {
  margin: 0 7.6%;
  position: relative;
  width: auto;
}

#access {
  background: -moz-linear-gradient(#252525, #0a0a0a) repeat scroll 0 0 transparent;
  background: -webkit-gradient(#252525, #0a0a0a) repeat scroll 0 0 transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  clear: both;
  display: block;
  float: left;
  margin: 0 auto 6px;
  width: 100%;
}

#access div {
  margin: 0 7.6%;
}

#branding {
  border-top: 2px solid #bbbbbb;
  padding-bottom: 10px;
  position: relative;
}

#branding img {
  height: auto;
  margin-bottom: -9px;
  width: 100%;
}

#logo img {
  height: auto;
  margin-top: 18px;
  width: auto;
}

#branding hgroup {
  margin: 0 7.6%;
}

#site-title {
  font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
  font-size: 30px;
  margin-right: 270px;
  padding: 1.8em 0 0;
}

#site-description {
  color: #7a7a7a;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0 270px 3.65625em 0;
}

#site-title a {
  color: #111111;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-decoration: none;
}

p {
  margin-bottom: 1.625em;
}

tr.even,
tr.odd {
  background-color: #ffffff;
  border-bottom: none;
  padding: 0.1em 0.6em;
}

#access {
  background: #222;
  background: -o-linear-gradient(#252525, #0a0a0a);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#252525), to(#0a0a0a)); /* older webkit syntax */
  background: -webkit-linear-gradient(#252525, #0a0a0a);
  background: -moz-linear-gradient(#f9f9f9, #e5e5e5) repeat scroll 0 0 transparent;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
  font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
}

#access ul {
  font-size: 13px;
  list-style: none outside none;
  margin: 0 0 0 -0.8125em;
  padding-left: 0;
}

#access li {
  float: left;
  position: relative;
}

#access a {
  color: #eeeeee;
  display: block;
  line-height: 3.333em;
  padding: 0 1.2125em;
  text-decoration: none;
}

#access li:hover > a,
#access a:focus {
  background: #f9f9f9; /* Show a solid color for older browsers */
  background: -moz-linear-gradient(#f9f9f9, #e5e5e5);
  background: -o-linear-gradient(#f9f9f9, #e5e5e5);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#e5e5e5)); /* Older webkit syntax */
  background: -webkit-linear-gradient(#f9f9f9, #e5e5e5);
  color: #373737;
}
#access ul li:hover > ul {
  display: block;
}

a img {
  border: 0 none;
}

#site-title a:focus,
#site-title a:hover,
#site-title a:active,
.node h2 a:hover,
.node h2 a:focus,
.node h2 a:active,
.comments-link a:hover,
section.recent-posts .other-recent-posts a[rel="bookmark"]:hover,
section.recent-posts .other-recent-posts .comments-link a:hover,
.format-image footer.entry-meta a:hover,
#site-generator a:hover {
  color: #1982d1;
}


div.node {
  margin: 0 0 1.625em;
  padding: 0 0 1.625em;
  position: relative;
}

.full-page h2 {
  padding-top: 2em;
}

article.node {
  border-bottom: 1px solid #dddddd;
  margin: 0 0 1.625em;
  outline: medium none;
  padding: 0 0 1.625em;
  position: relative;
}


article.node ul.links {
  margin: 0;
}

article.node ul.links li {
  padding: 0;
}


article.node h2 {
  clear: both;
  color: #222222;
  font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.5em;
  padding-bottom: 0.3em;
  text-decoration: none;
}

article.node h2 a{
  color: #222222;
}

#page-title {
  clear: both;
  color: #1982d1;
  font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.5em;
  margin-left: 76px;
  padding-bottom: 0.3em;
}

div.node h2 a {
  color: #222222;
  text-decoration: none;
}

input[type="text"],
input[type="password"],
textarea {
  background: none repeat scroll 0 0 #fafafa;
  border: 1px solid #dddddd;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
  color: #888888;
}
input[type="text"]:focus,
textarea:focus {
  color: #373737;
}

.region-sidebar-first h2 {
  color: #666666;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 2.6em;
  text-transform: uppercase;
}

.region-sidebar-first p {
  font-size: 12px;
}

.block {
  clear: both;
  margin: 0 0 2.2em;
}

#colophon {
  clear: both;
}

#supplementary {
  border-top: 1px solid #dddddd;
  font-size: 12px;
  overflow: hidden;
  padding: 1.625em 7.6%;
}

#site-generator {
  background: none repeat scroll 0 0 #f9f9f9;
  border-top: 1px solid #dddddd;
  color: #666666;
  font-size: 12px;
  line-height: 2.2em;
  padding: 2.2em 0.5em;
  text-align: center;
}

#supplementary div.widget-area {
  float: left;
  margin-right: 3.7%;
  width: 30.85%;
}

#supplementary .widget-area + .widget-area + .widget-area {
  margin-right: 0;
}

#supplementary h2 {
  color: #666666;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 2.6em;
  text-transform: uppercase;
}


#branding #searchform {
  position: absolute;
  right: 7.6%;
  text-align: right;
  top: 0.8em;
}

#searchform .form-text {
  float: right;
  -webkit-transition-duration: 400ms;
  -webkit-transition-property: width, background;
  -webkit-transition-timing-function: ease;
  -moz-transition-duration: 400ms;
  -moz-transition-property: width, background;
  -moz-transition-timing-function: ease;
  -o-transition-duration: 400ms;
  -o-transition-property: width, background;
  -o-transition-timing-function: ease;
  width: 72px;
}
#searchform .form-text:focus {
  background-color: #f9f9f9;
  width: 196px;
}

#searchform .form-text {
  background: url(images/search.png) no-repeat 5px 6px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
  height: 22px;
  line-height: 1.2em;
  padding: 4px 10px 4px 28px;
}

#access ul ul {
  -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
  display: none;
  float: left;
  left: 0;
  margin: 0;
  position: absolute;
  top: 3.333em;
  width: 188px;
  z-index: 99999;
}
#access ul ul ul {
  left: 100%;
  top: 0;
}
#access ul ul a {
  background: #f9f9f9;
  border-bottom: 1px dotted #ddd;
  color: #444;
  font-size: 13px;
  font-weight: normal;
  height: auto;
  line-height: 1.4em;
  padding: 10px 10px;
  width: 168px;
}
#access li:hover > a,
#access ul ul :hover > a,
#access a:focus {
  background: #efefef;
}
#access li:hover > a,
#access a:focus {
  background: #f9f9f9; /* Show a solid color for older browsers */
  background: -moz-linear-gradient(#f9f9f9, #e5e5e5);
  background: -o-linear-gradient(#f9f9f9, #e5e5e5);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#e5e5e5)); /* Older webkit syntax */
  background: -webkit-linear-gradient(#f9f9f9, #e5e5e5);
  color: #373737;
}
#access ul li:hover > ul {
  display: block;
}

#access ul.menu li {
  list-style: none;
  margin: 0;
}

#access ul.menu li.expanded,
li.collapsed,
li.leaf {
  margin: 0;
  padding: 0;
}

#comments {
  list-style: none outside none;
  margin: 0 auto;
}

.comment {
  background: #f6f6f6;
  border: 1px solid #ddd;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 0 1.625em;
  padding: 1.625em;
  position: relative;
}

.comment .submitted {
  color: #666666;
  font-size: 12px;
  line-height: 2.2em;
}

.comment .submitted a,
.comment-reply a,
.filter-help a,
.comment-add a,
.comment-edit a,
.comment-delete a,
.comment-comments a,
.node-readmore a,
.comment-new-comments a,
ul.pager li a {
  color: #1982d1;
  font-weight: bold;
  text-decoration: none;
}

#comment-form {
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 auto 1.625em;
  padding: 1.625em;
  position: relative;
  width: 100%;
}

#comment-form input[type="text"]:focus,
#comment-form textarea:focus {
  text-indent: 0;
  z-index: 1;
}
#comment-form textarea {
  resize: vertical;
}

#comment-form input[type="text"],
#comment-form textarea {
  background: #fff;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 3px rgba(56,56,56,0.95);
  -moz-box-shadow: inset 0 1px 3px rgba(56,56,56,0.95);
  box-shadow: inset 0 1px 3px rgba(56,56,56,0.95);
  padding: 10px;
  position: relative;
  text-indent: 80px;
}

#comment-form input[type="submit"] {
  background: #222;
  border: none;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  color: #eee;
  cursor: pointer;
  font-size: 15px;
  left: 30px;
  margin: 20px 20px;
  padding: 5px 22px 5px 22px;
  position: relative;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}

#comment-form #edit-actions {
  margin-left: 43%;
}

.grippie {
  display: none;
}

.posted-on {
  clear: both;
  color: #666666;
  font-size: 12px;
  left: 0;
  line-height: 18px;
  top: 0;
}

#logo {
  float: left;
  width: 100px;
}

.comment-comments a {
  background: #eee url(images/comment-bubble.png) no-repeat;
  color: #666;
  font-size: 13px;
  font-weight: normal;
  height: 36px;
  line-height: 35px;
  overflow: hidden;
  padding: 0 0 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 0.2em;
  width: 43px;
}

.comment-comments a:hover,
.comment-comments a:focus,
.comment-comments a:active {
  background-color: #1982d1;
  color: #fff;
  color: rgba(255,255,255,0.8);
}

div.form-item-subject {
  width: 100%;
}

#search-form-button {
  display: none;
}

@media (max-width: 800px) {
  #region-content-with-sidebar {
    margin: 0 7.6%;
    width: auto;
  }

  body.sidebar-left #secondary,
  body.sidebar-right #secondary {
    float: none;
    margin: 0 7.6%;
    width: auto;
  }
}

@media (max-width: 650px) {
  /* @media (max-width: 650px) Reduce font-sizes for better readability on smaller devices */
  body,
  input,
  textarea {
    font-size: 13px;
  }
  #site-title a {
    font-size: 24px;
  }
  #site-description {
    font-size: 12px;
  }
  #access ul {
    font-size: 12px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    padding: 0;
  }
  #page {
    margin-top: 0;
  }
  #branding {
    border-top: none;
  }
}
